AGENT_AUTH_TOKEN=projet-monitoring-2026
command_activation_proxy="python proxy.py --listen-port 6000 --target-host 127.0.0.1 --target-port 5051 --tls-cert server.crt --tls-key server.key --target-tls"